.gs-wrapper {
height: 100%;
    position: relative;
    z-index: 1;
}
.option-col{
  float: right;
}
.gs-question {
  margin: 20px 0;
  font-size: 42px;
  font-family: var(--AbdoLineBold);
  position: relative;
}
.imgQuestion-col {
    flex-direction: column;
    .video-player-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../images/video_frame.png);
        width: 476px;
        height: 447px;
        .video-player{
          position: absolute;
          left: 40px;
          top: 15px;
          width: 87.1%;
          height: auto;
          .video-js{
            background-color: transparent;
            .vjs-tech{
              width: 100%;
              height: auto;
              border-radius: 10px;
            }
            .vjs-poster img{
              border-radius: 10px;
            }
          }
        }
    }
}
.missionOnWallTag {
  width: 100%;
}

.question-text {
  position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    color: #2d4c1a;
  }
.gs-content {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 150px;
}
.gs-options {
    display: flex;
    gap: 40px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 1050px;
  }
.gs-game-holder {
    position: absolute;
    top: 250px;
    left: 167px;
}


.shop_gifts {
    background: #e5e6f9;
    border-radius: 25px;
}
.gs-option {
    position: relative;
    padding: 15px;
    border: none;
    background: #fff;
    cursor: pointer;
    font-family: var(--AbdoLineRegular);
    font-size: 50px;
    transition: all 0.2s ease;
    color: #00495e;
    border-radius: 25px;
    box-shadow: 0px 6px 14px rgba(72, 84, 101, 0.15);
    .symbolHolder{
        position: absolute;
        top: 86px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.gs-option:hover {
  background: #6f6f6f;
}

.gs-option.selected {
   background-color: rgb(4, 127, 255);


}

.gs-option.checked.correct {
   display: flex;
  align-items: center;
  justify-content: center;
  background-color: #70BF42;
  color: #2D4C1A;
}

.gs-option.checked.incorrect {
  // background: #FFF1BE;
  background-color: #FFA000;
  color: #664000;
  animation: tilt-shake 1s ease-in-out 1;
}
.gs-option.checked.disabled {
  pointer-events: none;
}

.gs-actions {
  margin-top: 20px;
}

.gs-submit {
  padding: 10px 24px;
  font-size: 16px;
}

.gs-feedback {
  margin-top: 16px;
  //font-weight: 600;
}
.explanation-screen {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 145px;
}
@keyframes tilt-shake {
    0% {
        transform: rotate(0)
    }

    20% {
        transform: rotate(-6deg)
    }

    40% {
        transform: rotate(6deg)
    }

    60% {
        transform: rotate(-6deg)
    }

    80% {
        transform: rotate(6deg)
    }

    to {
        transform: rotate(0)
    }
}
.feedbackVideo{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

 .gs-wrapper   .startLessonBtnHolder {
 position: absolute;
    left: 45px;
    bottom: 22px;
}
 .gs-wrapper   button.startLessonBtn {
    border: 5px solid #70BF42;
    border-radius: 36px;
    background-color: #D4EBC6;
    height: 78px;
    width: 157px;
    color: #2D4C1A;
    font-size: 45px;
    /* padding: 5px 65px 0 65px; */
    font-family: var(--AbdoLineBold);
    box-shadow: 0 4px rgba(72, 84, 101, 0.1019607843);
    transition: border-color 0.25s;
    line-height: 14px;
    &:hover{
        border-color: #D4EBC6;
        background-color: #F1F9EC;
    }
}


.buy-gift-btn-holder {
    position: absolute;
    bottom: 21px;
    left: 85px;
    z-index: 222;
}
.buy-gift-btn {
border: 5px solid #70BF42;
    border-radius: 51px;
    background-color: #D4EBC6;
    width: 222px;
    height: 103px;
    color: #2D4C1A;
    font-size: 46px;
    padding: 5px 65px 0 65px;
    font-family: var(--AbdoLineBold);
    box-shadow: 0 4px rgba(72, 84, 101, 0.1019607843);
    transition: border-color 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buy-gift-btn:hover {
    border-color: #D4EBC6;
    background-color: #F1F9EC;
    color: #2D4C1A;
}
.buy-gift-feedback-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 189px;
    position: absolute;
    bottom: 0;
    bottom: 0;
}
.buy-gift-feedback-container  .feedback-banner {
    font-family: var(--AbdoLineRegular);
    font-size: 42px;
    padding: 0 34px 0 34px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    min-height: 108px;
    width: 1169px;
    text-align: center;
    justify-content: center;
}