.drop-text-panel{
      min-width: 778px;
    min-height: 125px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    align-content: center;
    border-radius: 25px;
    padding: 20px 50px;
}
.explanation-screen {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 145px;
}
.drop-text-dropdown {
    height: 100%;
    font-family: var(--AbdoLineRegular);
    font-size: 42px;
    color: #485465;
    border-radius: 15px;
}
.dropdown-container.ddSelected {
    border: 3px solid #047fff;
}
.dropdown-container {
  position: relative;
  display: inline-block;
  border: 3px solid #485465;
  margin: 0 10px 20px 10px;
  min-width: 170px;
  height: 70px;
  cursor: pointer;
  border-radius: 15px;
  font-size: 42px;
  font-family: var(--AbdoLineBold);
  line-height: 51px;
  &.correct{
    background: #D4EBC6;
    border: 3px solid #70BF42;
    .dropdown-value{
      color: #2D4C1A;
      // padding: 0 50px 0 10px;
    }
    .dropdown-arrow-container{
      display: none;
    }
  }
  &.incorrect{
    background: #FFE2B2;
    border: 3px solid #FFA000;
    animation: tilt-shake 1s ease-in-out 1;
    .dropdown-value{
      color: #665410;
      // padding: 0 50px 0 10px;
    }
    .dropdown-arrow-container{
      display: none;
    }
  }
  &.disable-ddl {
    pointer-events: none;
  }
  .dropdown-value {
    display: inline-block;
    padding: 0 50px;
    color: #485465;
    position: relative;
    font-size: 42px;
    border-radius: 20px;
    width: 100%;
    line-height: 68px;
  }
  .dropdown-options {
    position: absolute;
    color: #485465;
    border: 1px solid #dadde0;
    border-radius: 15px;
    font-family: var(--AbdoLineBold);
    //font-weight: bold;
    font-size: 42px;
    left: 0px;
    right: 0px;
    transition: transform 2s;
    width: max-content;
    min-width: 185px;
    background-color: #ffffff;
    z-index: 1111;
    padding: 10px 10px;
    &.opened.bottom {
      top: 75px;
      right: -5px;
      animation: growList 300ms ease-in-out forwards;
      transform-origin: top center  
    }
    .dropdown-option {
      padding: 7px 20px 7px 10px;
      border-radius: 10px;
      &:hover{
        background-color: #D3F2F0
      }
    }
    
  }
  .symbolHolder {
    position: absolute;
    top: 23px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dropdown-arrow-container{
    height: 100%;
    transition: transform 0.2s;
    position: absolute;
    left: 10px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .dropdown-arrow {
      transition: transform 0.2s;
      fill: #485465;
      &.rotated{
        transform: rotate(180deg);
      }
    }
  }
}
.character_missile{
    height: 159px;
    width: 82px;
    // background-image: url(../images/missile.png);
    // background-repeat: no-repeat;
    // background-size: 100% auto;
    position: absolute;
    bottom: 130px;
    right: 147px;
    z-index: 222222222;  
  }

 .character_timeClock{
    height: 159px;
    width: 121px;
    // background-image: url(../images/timeClock.png);
    // background-repeat: no-repeat;
    // background-size: 100% auto;
    position: absolute;
    bottom: 130px;
    right: 128px;
    z-index: 222222222;
  }
.characterLightingEffect{
    bottom: 65px;
    right: 134px;
    z-index: 111;
    position: absolute;
    transform: translateX(-50%);
    width: 109px;
    height: 94px;
    background-image: url(../images/lightingEffect.png);
}

.character-lighting-container{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 400px;
  height: 250px;
}


.lightingHolder{
    width: 147px;
    height: 62px;
    background-image: url(../images/lightingHolder.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: absolute;
    bottom: 20px;
    right: 110px;
  }

@keyframes growList {
    0% {
        opacity: 0;
        transform: scale(0);
      }
      
      80% {
        transform: scale(1.07);
      }
    
      100% {
        opacity: 1;
        transform: scale(1);
      }
}

.dropdownList-container .splashScreen-container{
    position: absolute;
    top: 0;
    left: 0;
    background: none;
}
@keyframes tilt-shake {
    0% {
        transform: rotate(0)
    }

    20% {
        transform: rotate(-6deg)
    }

    40% {
        transform: rotate(6deg)
    }

    60% {
        transform: rotate(-6deg)
    }

    80% {
        transform: rotate(6deg)
    }

    to {
        transform: rotate(0)
    }
}

.feedbackVideo{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}