.mc-wrapper {
height: 100%;
    position: relative;
    z-index: 1;
}
.option-col{
  float: right;
}
.mc-question {
  margin: 20px 0;
  font-size: 42px;
  font-family: var(--AbdoLineBold);
  position: relative;
}
.imgQuestion-col {
    flex-direction: column;
    .video-player-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../images/video_frame.png);
        width: 476px;
        height: 447px;
        .video-player{
          position: absolute;
          left: 40px;
          top: 15px;
          width: 87.1%;
          height: auto;
          .video-js{
            background-color: transparent;
            .vjs-tech{
              width: 100%;
              height: auto;
              border-radius: 10px;
            }
            .vjs-poster img{
              border-radius: 10px;
            }
          }
        }
    }
}
.missionOnWallTag {
  width: 100%;
}

.question-text {
  position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    color: #2d4c1a;
  }
.mc-content {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 150px;
}
.mc-options {
display: flex;
    gap: 0px;
    justify-content: space-evenly;
    align-items: center;
  }

.mc-option {
position: relative;
    padding: 0 15px;
    border: none;
    background: #fff;
    cursor: pointer;
    font-family: var(--AbdoLineRegular);
    font-size: 50px;
    transition: all 0.2s ease;
    color: #00495e;
    .symbolHolder{
        position: absolute;
        top: 86px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.mc-option:hover {
  background: #f7f7f7;
}

.mc-option.selected {
    border-bottom-width: 6px;
    border-bottom-style: solid;
    border-bottom-color: rgb(4, 127, 255);



  border-color: #047fff;
}

.mc-option.checked.correct {
   display: flex;
  align-items: center;
  justify-content: center;
  border-color: #70BF42;
  color: #2D4C1A;
}

.mc-option.checked.incorrect {
  // background: #FFF1BE;
  border-color: #FFA000;
  color: #664000;
  animation: tilt-shake 1s ease-in-out 1;
}
.mc-option.checked.disabled {
  pointer-events: none;
}

.mc-actions {
  margin-top: 20px;
}

.mc-submit {
  padding: 10px 24px;
  font-size: 16px;
}

.mc-feedback {
  margin-top: 16px;
  //font-weight: 600;
}

@keyframes tilt-shake {
    0% {
        transform: rotate(0)
    }

    20% {
        transform: rotate(-6deg)
    }

    40% {
        transform: rotate(6deg)
    }

    60% {
        transform: rotate(-6deg)
    }

    80% {
        transform: rotate(6deg)
    }

    to {
        transform: rotate(0)
    }
}
.feedbackVideo{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.mc-game-container{
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    background: #fff;
    width: 1006px;
    min-height: 713px;
    position: absolute;
    bottom: 100px;
    left: 240px;
    border-radius: 20px;
    box-shadow: 0px 6px 14px rgba(72, 84, 101, 0.15);


    .round-progress {
    display: flex;
    justify-content: center;
    width: 667px;
    height: 80px;
    background-color: #d4ebc6;
    border-radius: 20px;
    border: 3px solid #70bf42;
    align-content: center;
    align-items: center;
    position: absolute;
    bottom: 240px;
    right: 178px;
}

.round-dot {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #adc2a1;
        color: white;
    font-size: 35px;

  &.completed {
    background: #2d4c1a;

  }

  &.active {
    background: #2d4c1a;
  }
}
.round-line {
  width: 258px;
  height: 6px;
  border-radius: 3px;
  background: #adc2a1;
  transition: background 0.5s ease;

  &.completed {
    background: #2d4c1a;
  }
}
.dotAndLine {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
    .mainQuestionHolder {
        width: 100%;
        min-height: 115px;
        position: absolute;
        right: 0px;
        top: 0px;
        display: flex;
        align-items: center;
        padding: 20px 50px;
        justify-content: flex-start;
        background-color: transparent;
        border-radius: 40px;
        font-family: var(--AbdoLineRegular);
        color: #000;
        direction: rtl;
        font-size: 42px;
        padding-right: 160px;
    }

    .startLessonBtnHolder {
 position: absolute;
    left: 45px;
    bottom: 22px;
}
  button.startLessonBtn {
    border: 5px solid #70BF42;
    border-radius: 36px;
    background-color: #D4EBC6;
    height: 78px;
    width: 157px;
    color: #2D4C1A;
    font-size: 45px;
    /* padding: 5px 65px 0 65px; */
    font-family: var(--AbdoLineBold);
    box-shadow: 0 4px rgba(72, 84, 101, 0.1019607843);
    transition: border-color 0.25s;
    line-height: 14px;
    &:hover{
        border-color: #D4EBC6;
        background-color: #F1F9EC;
    }
}

}